<?xml version="1.0" encoding="UTF-8"?>
<gui name="ksirk"
     version="2"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd">

<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
    <Action name="game_new" append="new_merge" />
    <Action name="game_new_socket" append="new_merge" />
    <Action name="game_join_socket" append="new_merge" />
    <Action name="game_load" append="new_merge" />
    <Action name="game_save" append="new_merge" />
    <Separator/>
    <Action name="game_nextplayer" />
    <Separator/>
    <Action name="game_goal" />
    <Separator/>
    <Action name="game_quit" append="new_merge" />
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
  </Menu>
  <Menu name="help"><text>&amp;Help</text>
    <Action name="help_contextual"  append="help_whats_this_merge" />
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1"><text>Main Toolbar</text>
  <!--Action name="game_new" />
  <Action name="game_new_socket" append="new_merge" />
  <Action name="game_join_socket" append="new_merge" />
  <Separator/>
  <Action name="game_load" /-->
  <Action name="game_save" />
  <Separator/>
  <Action name="view_zoom_in" />
  <Action name="view_zoom_out" />
  <Separator/>
  <Action name="game_nextplayer" />
  <Separator/>
  <Action name="game_goal" />
</ToolBar>

</gui>
