# KDE Config File
[Desktop Entry]
Type=Application
Exec=ksirk -caption "%c" %i
Icon=ksirk
X-DocPath=ksirk/index.html
Terminal=false
Name=KsirK
GenericName=World Domination Strategy Game
Categories=Qt;KDE;Game;StrategyGame;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
