# KDE Config File
[Desktop Entry]
Type=Application
Exec=ksirk -caption "%c" %i
Icon=ksirk
X-DocPath=ksirk/index.html
Terminal=false
Name=KsirK
Name[sv]=Ksirk
GenericName=World Domination Strategy Game
GenericName[fr]=Jeu de Stratégie de Domination Mondiale
GenericName[ga]=Leagan Ríomhaire Risk
GenericName[km]=ថ្នាក់​ដែលបង្កើត​ដោយ​កុំព្យូទ័រ
GenericName[nds]=Reeknerbaseert Riskanz
GenericName[pt]='O Risco' Computorizado
GenericName[pt_BR]='O Risco' Computorizado
GenericName[sv]=Datoriserad Risk
GenericName[uk]=Комп’ютеризована гра "Ризик"
GenericName[zh_TW]=Risk 電腦版本
Categories=Qt;KDE;Game;StrategyGame;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
