# KDE Config File
[Desktop Entry]
Type=Application
Exec=ksirk -caption "%c" %i
Icon=ksirk
DocPath=ksirk/index.html
Comment=KsirK is a computerized version of a strategy board game: Risk !
Comment[et]=KsirK on strateegilise lauamängu Risk arvutiversioon
Comment[sv]=Ksirk är en datoriserad version av strategispelet Risk
Terminal=false
Name=KsirK
Name[sv]=Ksirk
GenericName=Risk Computerized
GenericName[et]=Risk arvutimänguna
GenericName[sv]=Datoriserad Risk
Categories=Qt;KDE;Game;StrategyGame;
