[Africa]
bonus=3
continent-countries=Algeria,Arabia,Middle East,Egypt,Niger,Gabon,Madagascar,South Africa,Zair
id=4

[Alaska]
anchor-point=47,196
cannon-point=20,147
cavalry-point=47,202
central-point=49,191
flag-point=56,165
id=5
infantry-point=16,191
neighbours=Alberta,Ontario,Siberia

[Alberta]
anchor-point=196,169
cannon-point=93,164
cavalry-point=133,178
central-point=183,184
flag-point=189,187
id=4
infantry-point=216,154
neighbours=Alaska,Groenland,Ontario

[Algeria]
anchor-point=486,363
cannon-point=467,329
cavalry-point=446,358
central-point=491,360
flag-point=464,341
id=26
infantry-point=493,359
neighbours=France,Niger,Egypt

[Arabia]
anchor-point=602,393
cannon-point=598,396
cavalry-point=610,366
central-point=600,380
flag-point=599,358
id=33
infantry-point=569,355
neighbours=Egypt,Middle East

[Asia]
bonus=7
continent-countries=Russia,Siberia,Mongolia,China,Japan,Pakistan,Iran,India,Vietnam
id=5

[Belgium]
flag=belgium
leader=Baudouin

[Benelux]
anchor-point=531,242
cannon-point=491,232
cavalry-point=499,214
central-point=525,240
flag-point=537,240
id=14
infantry-point=519,216
neighbours=United Kingdom,France,Prussia,Scandinavia

[Brazil]
anchor-point=333,498
cannon-point=300,458
cavalry-point=297,510
central-point=323,504
flag-point=306,479
id=9
infantry-point=344,497
neighbours=Niger,Colombia,Paraguay

[Chile]
anchor-point=300,673
cannon-point=269,613
cavalry-point=270,647
central-point=293,643
flag-point=310,620
id=11
infantry-point=265,678
neighbours=Paraguay

[China]
anchor-point=790,316
cannon-point=716,268
cavalry-point=722,322
central-point=772,314
flag-point=792,321
id=20
infantry-point=775,278
neighbours=Mongolia,Japan,Pakistan,India,Vietnam

[Colombia]
anchor-point=271,493
cannon-point=247,450
cavalry-point=265,462
central-point=272,495
flag-point=277,508
id=8
infantry-point=250,500
neighbours=Brazil,Mexico,Paraguay

[Eastern US]
anchor-point=255,332
cannon-point=213,282
cavalry-point=239,321
central-point=250,316
flag-point=269,283
id=1
infantry-point=213,338
neighbours=Ontario,Quebec,Mexico,Western US

[Egypt]
anchor-point=573,406
cannon-point=538,366
cavalry-point=531,413
central-point=558,409
flag-point=564,397
id=28
infantry-point=567,420
neighbours=Algeria,Niger,Gabon,Arabia

[England]
flag=uk
leader=Elizabeth

[Europe]
bonus=5
continent-countries=Island,United Kingdom,Benelux,France,Scandinavia,Prussia,Kazakstan
id=3

[France]
anchor-point=511,288
cannon-point=488,278
cavalry-point=531,275
central-point=517.5,269.5
flag=france
flag-point=522,273
infantry-point=464,273
leader=De Gaulle
neighbours=United Kingdom,Benelux,Prussia,Algeria

[Gabon]
anchor-point=525,474
cannon-point=521,475
cavalry-point=551,453
central-point=531,470
flag-point=564,479
id=29
infantry-point=477,435
neighbours=Egypt,Niger,Zair

[Groenland]
anchor-point=333,126
cannon-point=331,144
cavalry-point=245,36
central-point=363,118
flag-point=369,129
id=6
infantry-point=337,72
neighbours=Alberta,Island,Quebec

[India]
anchor-point=700,411
cannon-point=699,369
cavalry-point=681,406
central-point=700,388
flag-point=705,392
id=35
infantry-point=663,370
neighbours=Iran,Pakistan,China,Vietnam

[Indonesia]
anchor-point=788,489
cannon-point=752,471
cavalry-point=783,481
central-point=797,482
flag-point=797,460
id=37
infantry-point=797,438
neighbours=Vietnam,Papouasie

[Iran]
anchor-point=629,337
cannon-point=600,286
cavalry-point=624,293
central-point=626,322
flag-point=634,328
id=19
infantry-point=617,331
neighbours=Middle East,Pakistan,India,Kazakstan

[Island]
anchor-point=420,188
cannon-point=425,155
cavalry-point=393,155
central-point=425,188
flag-point=429,189
id=12
infantry-point=400,180
neighbours=Groenland,United Kingdom

[Italy]
flag=italy
leader=Victor Emmanuel

[Japan]
anchor-point=879,327
cannon-point=873,328
cavalry-point=866,283
central-point=886.5,324.5
flag=japan
flag-point=890,291
infantry-point=857,318
leader=Akihito
neighbours=China

[Kazakstan]
anchor-point=695,254
cannon-point=628,216
cavalry-point=682,216
central-point=653,248
flag-point=650,255
id=22
infantry-point=605,246
neighbours=Iran,Pakistan,Mongolia,Russia,Prussia

[Madagascar]
anchor-point=610,564
cannon-point=590,546
cavalry-point=598,521
central-point=614,556
flag-point=616,542
id=32
infantry-point=597,570
neighbours=South Africa,Zair

[Mexico]
anchor-point=219,417
cannon-point=170,381
cavalry-point=191,394
central-point=218,427
flag-point=226,432
id=7
infantry-point=251,394
neighbours=Eastern US,Western US,Colombia

[Middle East]
anchor-point=586,333
cannon-point=549,304
cavalry-point=577,297
central-point=590,332
flag-point=592,332
id=34
infantry-point=567,318
neighbours=Iran,Arabia

[Mongolia]
anchor-point=794,240
cannon-point=735,236
cavalry-point=776,213
central-point=798,242
flag-point=803,244
id=24
infantry-point=832,222
neighbours=Kazakstan,China,Siberia

[New South Wales]
anchor-point=890,589
cannon-point=878,627
cavalry-point=872,538
central-point=908,589
flag-point=904,594
id=40
infantry-point=864,592
neighbours=Occidental Australia,Papouasie,New Zealand

[New Zealand]
anchor-point=967,652
cannon-point=964,616
cavalry-point=940,648
central-point=970,645
flag-point=970,635
id=41
infantry-point=955,645
neighbours=New South Wales

[Niger]
anchor-point=485,417
cannon-point=437,390
cavalry-point=444,412
central-point=492,411
flag-point=502,417
id=27
infantry-point=485,382
neighbours=Brazil,Algeria,Egypt,Gabon

[North America]
bonus=5
continent-countries=Alaska,Alberta,Groenland,Quebec,Ontario,Eastern US,Western US
id=1

[Occidental Australia]
anchor-point=839,581
cannon-point=803,560
cavalry-point=816,587
central-point=833,563
flag-point=841,567
id=39
infantry-point=826,530
neighbours=Papouasie,New South Wales

[Ontario]
anchor-point=150,245
cannon-point=96,213
cavalry-point=134,240
central-point=156,243
flag-point=192,248
id=3
infantry-point=183,217
neighbours=Alaska,Alberta,Quebec,Eastern US,Western US

[Pacific]
bonus=2
continent-countries=Indonesia,Papouasie,Occidental Australia,New South Wales,New Zealand
id=6

[Pakistan]
anchor-point=686,317
cannon-point=667,269
cavalry-point=650,294
central-point=685,326
flag-point=660,340
id=21
infantry-point=681,322
neighbours=Iran,Kazakstan,China,India

[Papouasie]
anchor-point=882,505
cannon-point=861,470
cavalry-point=846,491
central-point=875,497
flag-point=865,472
id=38
infantry-point=879,489
neighbours=Indonesia,Occidental Australia,New South Wales

[Paraguay]
anchor-point=320,580
cannon-point=274,546
cavalry-point=295,581
central-point=310,575
flag-point=279,580
id=10
infantry-point=322,540
neighbours=Brazil,Colombia,Chile

[Prussia]
anchor-point=580,238
cannon-point=572,201
cavalry-point=561,225
central-point=580,240
flag-point=584,248
id=16
infantry-point=556,247
neighbours=Scandinavia,Benelux,France,Kazakstan,Russia

[Quebec]
anchor-point=270,245
cannon-point=247,202
cavalry-point=223,239
central-point=275,254
flag-point=266,229
id=2
infantry-point=297,243
neighbours=Groenland,Ontario,Eastern US

[Russia]
anchor-point=694,155
cannon-point=629,175
cavalry-point=740,171
central-point=720,165
flag-point=673,160
id=18
infantry-point=727,121
neighbours=Prussia,Kazakstan,Siberia

[Scandinavia]
anchor-point=553,180
cannon-point=538,134
cavalry-point=560,164
central-point=552,163
flag-point=523,170
id=17
infantry-point=498,169
neighbours=Benelux,Prussia

[Siberia]
anchor-point=898,190
cannon-point=809,159
cavalry-point=933,166
central-point=880,178
flag-point=882,145
id=23
infantry-point=835,191
neighbours=Russia,Alaska,Mongolia

[South Africa]
anchor-point=547,592
cannon-point=529,600
cavalry-point=551,548
central-point=548,585
flag-point=536,564
id=31
infantry-point=511,560
neighbours=Madagascar,Zair

[South America]
bonus=2
continent-countries=Mexico,Colombia,Brazil,Chile,Paraguay
id=2

[United Kingdom]
anchor-point=477,240
cannon-point=434,209
cavalry-point=472,205
central-point=474,250
flag-point=464,214
id=13
infantry-point=446,230
neighbours=Island,Benelux,France

[United States]
flag=us
leader=Kennedy

[Vietnam]
anchor-point=780,417
cannon-point=738,366
cavalry-point=772,369
central-point=768,400
flag-point=765,409
id=36
infantry-point=741,406
neighbours=India,China,Indonesia

[Western US]
anchor-point=169,331
cannon-point=126,282
cavalry-point=171,286
central-point=166,327
flag-point=182,346
id=0
infantry-point=152,342
neighbours=Eastern US,Ontario,Mexico

[Zair]
anchor-point=553,533
cannon-point=520,499
cavalry-point=559,500
central-point=549,531
flag-point=566,533
id=30
infantry-point=519,525
neighbours=South Africa,Madagascar,Gabon

[cannon]
frames=2
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=32
id=cavalry
versions=3
width=32

[exploding]
frames=4
height=32
id=exploding
versions=2
width=32

[firing]
frames=4
height=32
id=firing
versions=2
width=64

[flag]
frames=4
height=20
versions=1
width=20

[font]
background-color=#808080
family=URW Chancery L
foreground-color=#000000
italic=true
size=14
weight=normal

[goal1]
desc=%1, you'll have to conquer %2 countries and place %3 armies in each one.
nbArmiesByCountry=2
nbCountries=18
type=countries

[goal2]
desc=%1, you'll have to conquer %2 countries.
nbArmiesByCountry=0
nbCountries=24
type=countries

[goal3]
continents=0,Europe,Pacific
desc=%1, you'll have to conquer %2, %3 and another continent at your choice.
type=continents

[goal4]
continents=North America,Africa
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal5]
continents=South America,Europe
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal6]
continents=North America,Pacific
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal7]
continents=Africa,Asia
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal8]
continents=South America,Asia
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal9]
desc=%1, you'll have to eliminate %2. If it is eliminated by another player, you'll have to conquer %3 countries.
nbCountriesFallback=24
type=player

[infantry]
frames=1
height=32
id=infantry
versions=3
width=23

[onu]
continents=North America,South America,Europe,Africa,Asia,Pacific
countries=Western US,Eastern US,Quebec,Ontario,Alberta,Alaska,Groenland,Mexico,Colombia,Brazil,Paraguay,Chile,Island,United Kingdom,Benelux,France,Prussia,Scandinavia,Russia,Iran,China,Pakistan,Kazakstan,Siberia,Mongolia,Japan,Algeria,Niger,Egypt,Gabon,Zair,South Africa,Madagascar,Arabia,Middle East,India,Vietnam,Indonesia,Papouasie,Occidental Australia,New South Wales,New Zealand
desc=This skin shows a world that looks like the real one with some nationalities randomly chosen and proposes various interesting goals.\nIt looks like KsirK before vector graphics.
fighters-flag-y-diff=-12
format-version=3.0
goals=goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9
height=768
map-mask=Images/map-mask.png
name=Legacy
nationalities=France,England,United States,Belgium,Japan,Italy
nb-continents=6
nb-countries=42
nb-nationalities=6
pool=Images/pool.svg
skinpath=skins/legacy
width=1024
width-between-flag-and-fighter=32
