[KDEGameTheme]

[onu]
width=1024
height=768
skinpath=skins/default
nb-countries=42
nb-nationalities=6
nb-continents=6
pool=Images/pool.svg
map-mask=Images/map-mask.png
format-version=2.0
name=Earth-like
desc=This skin shows a world that looks like the real one with some nationalities\nrandomly chosen and proposes various interesting goals
fighters-flag-y-diff=-12
width-between-flag-and-fighter=32
countries=Western US,Eastern US,Quebec,Ontario,Alberta,Alaska,Groenland,Mexico,Colombia,Brazil,Paraguay,Chile,Island,United Kingdom,Benelux,France,Prussia,Scandinavia,Russia,Iran,China,Pakistan,Kazakstan,Siberia,Mongolia,Japan,Algeria,Niger,Egypt,Gabon,Zair,South Africa,Madagascar,Arabia,Middle East,India,Vietnam,Indonesia,Papouasie,Occidental Australia,New South Walles,New Zealand
nationalities=France,England,United States,Belgium,Japan,Italy
continents=North America,South America,Europe,Africa,Asia,Pacific
goals=goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9



[font]
family=URW Chancery L
size=11
weight=bold
italic=true
foreground-color=black
background-color=gray

[flag]
width=20
height=20
frames=4
versions=1

[infantry]
id=infantry
width=23
height=32
frames=1
versions=3

[cavalry]
id=cavalry
width=32
height=32
frames=1
versions=3

[cannon]
id=cannon
width=32
height=32
frames=2
versions=3

[firing]
id=firing
width=64
height=32
frames=4
versions=2

[exploding]
id=exploding
width=32
height=32
frames=4
versions=2

[Western US]
id=0
flag-point=182,346
anchor-point=180,356
central-point=169,328
cannon-point=126,282
cavalry-point=162,292
infantry-point=147,329
neighbours=1,3,7

[Eastern US]
id=1
flag-point=269,283
anchor-point=254,354
central-point=250,348
cannon-point=213,282
cavalry-point=250,300
infantry-point=214,330
neighbours=0,2,3,7

[Quebec]
id=2
flag-point=258,232
anchor-point=270,282
central-point=275,270
cannon-point=247,202
cavalry-point=223,239
infantry-point=275,235
neighbours=1,3,4,6

[Ontario]
id=3
flag-point=192,248
anchor-point=150,256
central-point=157,263
cannon-point=96,213
cavalry-point=134,240
infantry-point=183,217
neighbours=0,1,2,4,5

[Alberta]
id=4
flag-point=189,187
anchor-point=187,162
central-point=185,205
cannon-point=93,164
cavalry-point=149,172
infantry-point=189,154
neighbours=2,3,5,6

[Alaska]
id=5
flag-point=56,165
anchor-point=37,227
central-point=50,213
cannon-point=20,147
cavalry-point=45,174
infantry-point=16,191
neighbours=3,4,23

[Groenland]
id=6
flag-point=369,129
anchor-point=339,176
central-point=334,149
cannon-point=331,117
cavalry-point=245,36
infantry-point=337,72
neighbours=2,4,12

[Mexico]
id=7
flag-point=225,425
anchor-point=228,422
central-point=225,405
cannon-point=170,381
cavalry-point=197,396
infantry-point=236,387
neighbours=0,1,8

[Colombia]
id=8
flag-point=277,508
anchor-point=282,482
central-point=272,475
cannon-point=247,450
cavalry-point=261,471
infantry-point=249,497
neighbours=7,9,10

[Brazil]
id=9
flag-point=318,494
anchor-point=333,499
central-point=343,500
cannon-point=300,458
cavalry-point=298,500
infantry-point=335,497
neighbours=8,10,27

[Paraguay]
id=10
flag-point=282,575
anchor-point=314,573
central-point=310,555
cannon-point=274,546
cavalry-point=295,581
infantry-point=319,547
neighbours=8,9,11

[Chile]
id=11
flag-point=310,620
anchor-point=291,645
central-point=285,630
cannon-point=273,617
cavalry-point=270,647
infantry-point=263,677
neighbours=10

[Island]
id=12
flag-point=429,189
anchor-point=407,226
central-point=425,188
cannon-point=425,155
cavalry-point=393,155
infantry-point=400,180
neighbours=6,13

[United Kingdom]
id=13
flag-point=464,214
anchor-point=485,274
central-point=464,224
cannon-point=434,209
cavalry-point=472,205
infantry-point=446,230
neighbours=12,14,15

[Benelux]
id=14
flag-point=537,240
anchor-point=538,281
central-point=525,240
cannon-point=491,232
cavalry-point=499,214
infantry-point =519,216
neighbours=13,15,16,17

[France]
id=15
flag-point=530,264
anchor-point=516,321
central-point=533,270
cannon-point=483,255
cavalry-point=464,282
infantry-point=510,255
neighbours=13,14,16,26

[Prussia]
id=16
flag-point=581,240
anchor-point=589,285
central-point=580,240
cannon-point=559,200
cavalry-point=561,225
infantry-point=558,245
neighbours=14,15,17,18,22

[Scandinavia]
id=17
flag-point=529,165
anchor-point=560,185
central-point=540,165
cannon-point=538,134
cavalry-point=559,158
infantry-point=498,169
neighbours=14,16

[Russia]
id=18
flag-point=673,160
anchor-point=696,156
central-point=713,160
cannon-point=642,174
cavalry-point=744,176
infantry-point=720,123
neighbours=16,22,23

[Iran]
id=19
flag-point=631,325
anchor-point=629,337
central-point=631,322
cannon-point=600,286
cavalry-point=624,307
infantry-point=609,335
neighbours=21,22,33,34,35

[China]
id=20
flag-point=792,321
anchor-point=790,315
central-point=772,321
cannon-point=716,268
cavalry-point=733,310
infantry-point=775,278
neighbours=21,24,25,35,36

[Pakistan]
id=21
flag-point=660,340
anchor-point=686,318
central-point=685,340
cannon-point=667,269
cavalry-point=650,294
infantry-point=675,320
neighbours=19,20,22,35

[Kazakstan]
id=22
flag-point=650,255
anchor-point=702,287
central-point=650,255
cannon-point=628,216
cavalry-point=676,221
infantry-point=605,246
neighbours=16,18,19,21,24

[Siberia]
id=23
flag-point=871,162
anchor-point=896,190
central-point=871,172
cannon-point=809,159
cavalry-point=933,166
infantry-point=835,191
neighbours=5,18,24

[Mongolia]
id=24
flag-point=803,240
anchor-point=795,240
central-point=803,240
cannon-point=744,232
cavalry-point=776,213
infantry-point=824,226
neighbours=20,22,23


[Japan]
id=25
flag-point=884,311
anchor-point=878,327
central-point=884,321
cannon-point=887,283
cavalry-point=851,335
infantry-point=861,302
neighbours=20


[Algeria]
id=26
flag-point=480,346
anchor-point=508,374
central-point=518,360
cannon-point=500,329
cavalry-point=479,358
infantry-point=523,352
neighbours=15,27,28


[Niger]
id=27
flag-point=529,411
anchor-point=511,417
central-point=519,411
cannon-point=464,390
cavalry-point=494,407
infantry-point=512,386
neighbours=9,26,28,29


[Egypt]
id=28
flag-point=560,401
anchor-point=598,411
central-point=598,413
cannon-point=561,370
cavalry-point=553,399
infantry-point=583,424
neighbours=26,27,29,33


[Gabon]
id=29
flag-point=592,455
anchor-point=546,450
central-point=546,450
cannon-point=518,415
cavalry-point=572,436
infantry-point=537,439
neighbours=27,28,30


[Zair]
id=30
flag-point=572,500
anchor-point=560,500
central-point=566,500
cannon-point=526,466
cavalry-point=565,467
infantry-point=538,489
neighbours=29,31,32


[South Africa]
id=31
flag-point=562,527
anchor-point=562,543
central-point=562,537
cannon-point=543,552
cavalry-point=566,506
infantry-point=525,512
neighbours=30,32


[Madagascar]
id=32
flag-point=628,503
anchor-point=623,521
central-point=628,511
cannon-point=602,503
cavalry-point=610,482
infantry-point=609,531
neighbours=30,31


[Arabia]
id=33
flag-point=600,368
anchor-point=605,395
central-point=600,380
cannon-point=598,396
cavalry-point=610,366
infantry-point=569,355
neighbours=19,28,34


[Middle East]
id=34
flag-point=595,328
anchor-point=587,332
central-point=590,333
cannon-point=549,304
cavalry-point=577,297
infantry-point=571,318
neighbours=19,33


[India]
id=35
flag-point=700,388
anchor-point=698,412
central-point=700,388
cannon-point=699,369
cavalry-point=682,400
infantry-point=663,370
neighbours=19,20,21,36


[Vietnam]
id=36
flag-point=768,403
anchor-point=782,417
central-point=768,403
cannon-point=738,366
cavalry-point=772,369
infantry-point=741,403
neighbours=20,35,37


[Indonesia]
id=37
flag-point=797,460
anchor-point=789,488
central-point=792,470
cannon-point=752,471
cavalry-point=783,481
infantry-point=797,438
neighbours=36,38


[Papouasie]
id=38
flag-point=865,472
anchor-point=885,507
central-point=875,497
cannon-point=861,470
cavalry-point=846,491
infantry-point=879,489
neighbours=37,39,40


[Occidental Australia]
id=39
flag-point=843,563
anchor-point=840,581
central-point=833,563
cannon-point=803,560
cavalry-point=816,587
infantry-point=826,530
neighbours=38,40


[New South Walles]
id=40
flag-point=908,584
anchor-point=890,591
central-point=908,589
cannon-point=871,600
cavalry-point=872,538
infantry-point=861,569
neighbours=38,39,41


[New Zealand]
id=41
flag-point=970,635
anchor-point=969,652
central-point=970,645
cannon-point=964,616
cavalry-point=940,648
infantry-point=955,645
neighbours=40



[France]
leader=de Gaulle
flag=france

[England]
leader=Elisabeth
flag=uk

[United States]
leader=Kennedy
flag=us

[Belgium]
leader=Baudouin
flag=belgium

[Japan]
leader=Akihito
flag=japan

[Italy]
leader=Victor Emmanuel
flag=italy

#1
[North America]
id=1
bonus=5
continent-countries=0,1,2,3,4,5,6

#2
[South America]
id=2
bonus=2
continent-countries=7,8,9,10,11

#3
[Europe]
id=3
bonus=5
continent-countries=12,13,14,15,16,17,22

#4
[Africa]
id=4
bonus=3
continent-countries=26,27,28,29,30,31,32,33,34

#5
[Asia]
id=5
bonus=7
continent-countries=18,19,20,21,23,24,25,35,36

#6
[Pacific]
id=6
bonus=2
continent-countries=37,38,39,40,41

[goal1]
type=countries
nbCountries=18
nbArmiesByCountry=2
desc=%1, you'll have to conquer %2 countries and place %3 armies in each one.

[goal2]
type=countries
nbCountries=24
desc=%1, you'll have to conquer %2 countries.

[goal3]
type=continents
continents=0,3,6
desc=%1, you'll have to conquer %2, %3 and another continent at your choice.

[goal4]
type=continents
continents=1,4
desc=%1, you'll have to conquer %2 and %3.

[goal5]
type=continents
continents=3,2
desc=%1, you'll have to conquer %2 and %3.

[goal6]
type=continents
continents=1,6
desc=%1, you'll have to conquer %2 and %3.

[goal7]
type=continents
continents=4,5
desc=%1, you'll have to conquer %2 and %3.

[goal8]
type=continents
continents=2,5
desc=%1, you'll have to conquer %2 and %3.

[goal9]
type=player
nbCountriesFallback=24
desc=%1, you'll have to eliminate %2. If it is eliminated by another player, you'll have to conquer %3 countries.
