[Africa]
bonus=6
continent-countries=Algeria,Arabia,Egypt,Madagascar,Niger,Gabon,South Africa,Zair
id=4

[Alaska]
anchor-point=40,221
cannon-point=20,187
cavalry-point=48,230
central-point=50,213
flag-point=56,189
id=5
infantry-point=16,231
neighbours=Alberta,Ontario,Siberia

[Alberta]
anchor-point=182,213
cannon-point=160,167
cavalry-point=119,201
central-point=185,205
flag-point=189,187
id=4
infantry-point=95,181
neighbours=Alaska,Groenland,Ontario,Quebec

[Algeria]
anchor-point=511,379
cannon-point=502,350
cavalry-point=456,360
central-point=506,366
flag-point=482,347
id=26
infantry-point=542,363
neighbours=France,Niger,Egypt

[Arabia]
anchor-point=623,395
cannon-point=582,358
cavalry-point=631,393
central-point=620,383
flag-point=613,368
id=33
infantry-point=608,396
neighbours=Iran,Egypt

[Asia]
bonus=7
continent-countries=Russia,Siberia,Mongolia,Pakistan,Japan,Vietnam,India,Iran,China
id=5

[Belgium]
flag=belgium
leader=Baudouin

[Benelux]
anchor-point=538,282
cannon-point=501,279
cavalry-point=509,254
central-point=535,280
flag-point=559,251
id=14
infantry-point=538,254
neighbours=United Kingdom,France,Prussia,Scandinavia

[Brazil]
anchor-point=341,504
cannon-point=305,458
cavalry-point=301,509
central-point=343,500
flag-point=320,478
id=9
infantry-point=345,511
neighbours=Colombia,Paraguay,Niger

[Chile]
anchor-point=279,639
cannon-point=286,602
cavalry-point=264,646
central-point=277,626
flag-point=271,605
id=11
infantry-point=278,672
neighbours=Paraguay

[China]
anchor-point=789,347
cannon-point=775,360
cavalry-point=768,311
central-point=780,336
flag-point=811,314
id=20
infantry-point=842,289
neighbours=Pakistan,India,Vietnam,Mongolia,Japan

[Colombia]
anchor-point=261,477
cannon-point=258,438
cavalry-point=283,448
central-point=272,475
flag-point=260,456
id=8
infantry-point=270,493
neighbours=Mexico,Brazil

[Eastern US]
anchor-point=253,351
cannon-point=219,323
cavalry-point=236,353
central-point=250,343
flag-point=264,322
id=1
infantry-point=210,358
neighbours=Mexico,Quebec,Western US

[Egypt]
anchor-point=598,411
cannon-point=556,370
cavalry-point=563,384
central-point=598,413
flag-point=580,401
id=28
infantry-point=588,424
neighbours=Algeria,Niger,Gabon,Arabia

[England]
flag=uk
leader=Elisabeth

[Europe]
bonus=5
continent-countries=Scandinavia,United Kingdom,Kazakstan,Island,France,Benelux,Prussia
id=3

[France]
anchor-point=501,322
cannon-point=481,296
cavalry-point=464,330
central-point=517,308
flag=france
flag-point=532,298
id=15
infantry-point=538,317
leader=de Gaulle
neighbours=United Kingdom,Benelux,Algeria,Prussia

[Gabon]
anchor-point=536,436
cannon-point=474,422
cavalry-point=594,450
central-point=529,430
flag-point=543,444
id=29
infantry-point=564,442
neighbours=Egypt,Niger,Zair

[Groenland]
anchor-point=339,165
cannon-point=321,210
cavalry-point=308,116
central-point=334,149
flag-point=357,129
id=6
infantry-point=349,173
neighbours=Island,Alberta,Quebec

[India]
anchor-point=717,398
cannon-point=714,362
cavalry-point=695,407
central-point=719,377
flag-point=728,375
id=35
infantry-point=677,383
neighbours=China,Pakistan,Vietnam

[Indonesia]
anchor-point=802,466
cannon-point=765,441
cavalry-point=790,466
central-point=804,452
flag-point=814,433
id=37
infantry-point=824,402
neighbours=Vietnam,Papouasie

[Iran]
anchor-point=616,356
cannon-point=574,332
cavalry-point=616,353
central-point=618,341
flag-point=606,325
id=19
infantry-point=637,361
neighbours=Prussia,Arabia,Pakistan

[Island]
anchor-point=407,220
cannon-point=407,188
cavalry-point=375,188
central-point=403,218
flag-point=406,199
id=12
infantry-point=386,221
neighbours=Groenland,United Kingdom

[Italy]
flag=italy
leader=Victor Emmanuel

[Japan]
anchor-point=872,345
cannon-point=882,305
cavalry-point=856,350
central-point=873,341
flag=japan
flag-point=889,323
id=25
infantry-point=866,314
leader=Akihito
neighbours=China

[Kazakstan]
anchor-point=702,287
cannon-point=724,264
cavalry-point=717,293
central-point=702,279
flag-point=690,265
id=22
infantry-point=637,270
neighbours=Scandinavia,Prussia,Russia,Mongolia,China,Pakistan

[Madagascar]
anchor-point=649,514
cannon-point=597,519
cavalry-point=606,485
central-point=618,506
flag-point=630,495
id=32
infantry-point=609,531
neighbours=South Africa,Zair

[Mexico]
anchor-point=228,419
cannon-point=170,401
cavalry-point=197,422
central-point=189,406
flag-point=225,425
id=7
infantry-point=236,417
neighbours=Eastern US,Colombia,Western US

[Mongolia]
anchor-point=817,278
cannon-point=775,288
cavalry-point=788,245
central-point=812,270
flag-point=829,245
id=24
infantry-point=860,245
neighbours=Russia,Siberia,Kazakstan,China

[New South Walles]
anchor-point=915,560
cannon-point=885,575
cavalry-point=876,508
central-point=932,549
flag-point=912,534
id=40
infantry-point=870,554
neighbours=Papouasie,Occidental Australia,New Zealand

[New Zealand]
anchor-point=953,626
cannon-point=958,591
cavalry-point=940,633
central-point=974,605
flag-point=979,599
id=34
infantry-point=969,635
neighbours=New South Walles

[Niger]
anchor-point=499,407
cannon-point=452,390
cavalry-point=540,402
central-point=504,394
flag-point=528,396
id=27
infantry-point=450,407
neighbours=Brazil,Algeria,Gabon,Egypt

[North America]
bonus=5
continent-countries=Alaska,Alberta,Groenland,Ontario,Quebec,Eastern US,Western US
id=1

[Occidental Australia]
anchor-point=850,540
cannon-point=837,551
cavalry-point=808,550
central-point=823,528
flag-point=858,508
id=39
infantry-point=841,495
neighbours=Papouasie,New South Walles

[Ontario]
anchor-point=150,256
cannon-point=87,236
cavalry-point=134,270
central-point=157,260
flag-point=192,278
id=3
infantry-point=192,240
neighbours=Alaska,Alberta,Quebec,Western US

[Pacific]
bonus=2
continent-countries=Indonesia,Papouasie,Occidental Australia,New South Walles,New Zealand
id=6

[Pakistan]
anchor-point=691,354
cannon-point=698,326
cavalry-point=646,325
central-point=680,345
flag-point=680,325
id=21
infantry-point=659,357
neighbours=Iran,Kazakstan,China,India

[Papouasie]
anchor-point=928,500
cannon-point=924,473
cavalry-point=861,457
central-point=918,490
flag-point=896,461
id=38
infantry-point=967,490
neighbours=Indonesia,Occidental Australia,New South Walles

[Paraguay]
anchor-point=310,569
cannon-point=274,541
cavalry-point=301,572
central-point=310,555
flag-point=276,578
id=10
infantry-point=322,535
neighbours=Chile,Brazil

[Prussia]
anchor-point=601,293
cannon-point=580,236
cavalry-point=578,255
central-point=597,280
flag-point=601,298
id=16
infantry-point=559,296
neighbours=Scandinavia,Benelux,France,Kazakstan,Iran,Russia

[Quebec]
anchor-point=281,279
cannon-point=257,250
cavalry-point=266,287
central-point=275,267
flag-point=258,282
id=2
infantry-point=223,280
neighbours=Alberta,Groenland,Ontario,Western US,Eastern US

[Russia]
anchor-point=719,218
cannon-point=637,219
cavalry-point=774,209
central-point=733,203
flag-point=688,172
id=18
infantry-point=740,156
neighbours=Scandinavia,Prussia,Siberia,Kazakstan,Mongolia

[Scandinavia]
anchor-point=556,214
cannon-point=542,169
cavalry-point=573,183
central-point=570,213
flag-point=545,189
id=17
infantry-point=521,219
neighbours=Benelux,Russia,Prussia

[Siberia]
anchor-point=901,213
cannon-point=834,212
cavalry-point=946,194
central-point=876,195
flag-point=870,177
id=23
infantry-point=814,162
neighbours=Alaska,Mongolia,Russia

[South Africa]
anchor-point=559,554
cannon-point=532,561
cavalry-point=571,514
central-point=562,547
flag-point=554,533
id=31
infantry-point=525,520
neighbours=Madagascar,Zair

[South America]
bonus=2
continent-countries=Mexico,Colombia,Brazil,Chile,Paraguay
id=2

[United Kingdom]
anchor-point=435,269
cannon-point=448,245
cavalry-point=486,241
central-point=481,270
flag-point=478,250
id=13
infantry-point=460,266
neighbours=Island,Benelux,France

[United States]
flag=us
leader=Kennedy

[Vietnam]
anchor-point=782,407
cannon-point=742,385
cavalry-point=790,376
central-point=770,398
flag-point=773,383
id=36
infantry-point=773,409
neighbours=India,China,Indonesia

[Western US]
anchor-point=177,337
cannon-point=144,310
cavalry-point=174,365
central-point=169,328
flag-point=172,348
id=0
infantry-point=145,344
neighbours=Ontario,Quebec,Eastern US,Mexico

[Zair]
anchor-point=552,500
cannon-point=533,507
cavalry-point=573,475
central-point=556,490
flag-point=576,497
id=30
infantry-point=527,461
neighbours=Gabon,South Africa,Madagascar

[cannon]
frames=2
height=32
id=cannon
versions=3
width=32

[cavalry]
frames=1
height=26
id=cavalry
versions=3
width=28

[exploding]
frames=4
height=32
id=exploding
versions=2
width=32

[firing]
frames=4
height=32
id=firing
versions=2
width=64

[flag]
frames=4
height=20
versions=1
width=20

[font]
background-color=#ffffff
family=URW Chancery L
foreground-color=#000000
italic=true
size=12
weight=normal

[goal1]
desc=%1, you'll have to conquer %2 countries and place %3 armies in each one.
nbArmiesByCountry=2
nbCountries=18
type=countries

[goal2]
desc=%1, you'll have to conquer %2 countries.
nbArmiesByCountry=0
nbCountries=24
type=countries

[goal3]
continents=Africa,North America
desc=%1, you'll have to conquer %2, %3 and another continent at your choice.
type=continents

[goal4]
continents=Asia,North America
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal5]
continents=Asia,South America
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal6]
continents=Africa,Europe
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal7]
continents=Pacific,Africa
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal8]
continents=South America,Europe
desc=%1, you'll have to conquer %2 and %3.
type=continents

[goal9]
desc=%1, you'll have to eliminate %2. If it is eliminated by another player, you'll have to conquer %3 countries.
nbCountriesFallback=24
type=player

[infantry]
frames=1
height=30
id=infantry
versions=3
width=20

[onu]
continents=North America,South America,Europe,Africa,Asia,Pacific
countries=Western US,Eastern US,Quebec,Ontario,Alberta,Alaska,Groenland,Mexico,Colombia,Brazil,Paraguay,Chile,Island,United Kingdom,Benelux,France,Prussia,Scandinavia,Russia,Iran,China,Pakistan,Kazakstan,Siberia,Mongolia,Japan,Algeria,Niger,Egypt,Gabon,Zair,South Africa,Madagascar,Arabia,New Zealand,India,Vietnam,Indonesia,Papouasie,Occidental Australia,New South Walles
desc=This skin shows a world that looks like the real one with some nationalities\nrandomly chosen and proposes various interesting goals
fighters-flag-y-diff=-12
format-version=2.0
goals=goal1,goal2,goal3,goal4,goal5,goal6,goal7,goal8,goal9
height=768
map-mask=Images/map-mask.png
name=Earth-like
nationalities=France,England,United States,Belgium,Japan,Italy
nb-continents=6
nb-countries=41
nb-nationalities=6
pool=Images/pool.svg
skinpath=skins/default
width=1024
width-between-flag-and-fighter=32
