# KDE Config File
[Desktop Entry]
Type=Application
Exec=ksirkskineditor -caption "%c" %i
Icon=ksirkskineditor
X-DocPath=ksirkskineditor/index.html
Terminal=false
Name=KsirK Skin Editor
Name[el]=Επεξεργαστής θέματος KsirK
Name[es]=Editor de piel para KsirK
Name[et]=KsirKi naharedaktor
Name[ga]=Eagarthóir Craicinn KsirK
Name[gl]=Editor de temas de Ksirk
Name[ja]=KsirK スキンエディタ
Name[km]=កម្មវិធី​និពន្ធ​ស្បែក​របស់ KsirK
Name[nds]=KsirK-Böversieteditor
Name[nn]=KsirK tema-redigering
Name[pt]=Editor de Visuais do KsirK
Name[pt_BR]=Editor de Visuais do KsirK
Name[ro]=Editor de fațete KsirK
Name[ru]=Редактор оформления для KsirK
Name[sv]=Ksirk skaleditor
Name[uk]=Редактор оболонок KsirK
Name[x-test]=xxKsirK Skin Editorxx
Name[zh_CN]=KsirK 皮肤编辑器
Name[zh_TW]=KsirK 外觀編輯器
GenericName=Skin Editor for the World Domination Strategy Game
GenericName[el]=Επεξεργαστής θέματος για το παιχνίδι στρατηγικής παγκόσμιας κυριαρχίας
GenericName[es]=Editor de piel para el juego de estrategia para dominar el mundo
GenericName[et]=Maailma vallutamise strateegiamängu naharedaktor
GenericName[ga]=Eagarthóir Craicinn do Chluiche Fhorlámhas an Domhain
GenericName[gl]=O editor de temas do xogo de estratexia para dominar o mundo
GenericName[ja]=KsirK 世界制覇ゲームのスキンエディタ
GenericName[km]=កម្មវិធី​និពន្ធ​ស្បែក​សម្រាប់​ល្បែង​យុទ្ធសាស្ត្រ​គ្រប់គ្រង​ពិភពលោក​​
GenericName[nds]=Böversieteditor för't Strategiespeel "World Domination"
GenericName[nn]=Temaredigering for spelet med kamp om verdsherredøme
GenericName[pt]=Editor de Gráficos do Jogo Estratégico de Conquista do Mundo
GenericName[pt_BR]=Editor de Gráficos do Jogo Estratégico de Conquista do Mundo
GenericName[ru]=Редактор оформления для Завоевания галактики
GenericName[sv]=Skaleditor för strategispelet för världsdominans
GenericName[tr]=KsirK için Arayüz Düzenleyici
GenericName[uk]=Редактор оболонок для стратегічної гри у світове панування
GenericName[x-test]=xxSkin Editor for the World Domination Strategy Gamexx
GenericName[zh_CN]=世界支配战略游戏的皮肤编辑器
GenericName[zh_TW]=征服世界戰略遊戲的外觀編輯器
Categories=Qt;KDE;Game;StrategyGame;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
