# KDE Config File
[Desktop Entry]
Type=Application
Exec=ksirkskineditor -caption "%c" %i
Icon=ksirkskineditor
X-DocPath=ksirkskineditor/index.html
Terminal=false
Name=KsirK Skin Editor
Name[et]=KsirKi naharedaktor
Name[ga]=Eagarthóir Craicinn KsirK
Name[nds]=KsirK-Böversieteditor
Name[pt]=Editor de Visuais do KsirK
Name[pt_BR]=Editor de Visuais do KsirK
Name[sv]=Ksirk skaleditor
Name[uk]=Редактор оболонок KsirK
GenericName=Skin Editor for the World Domination Strategy Game
GenericName[et]=Maailma vallutamise strateegiamängu naharedaktor
GenericName[ga]=Eagarthóir Craicinn do Chluiche Fhorlámhas an Domhain
GenericName[nds]=Böversieteditor för't Strategiespeel "World Domination"
GenericName[pt]=Editor de Gráficos do Jogo Estratégico de Conquista do Mundo
GenericName[pt_BR]=Editor de Gráficos do Jogo Estratégico de Conquista do Mundo
GenericName[sv]=Skaleditor för strategispelet för världsdominans
GenericName[uk]=Редактор оболонок для стратегічної гри у світове панування
Categories=Qt;KDE;Game;StrategyGame;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
