# KDE Config File
[Desktop Entry]
Type=Application
Exec=ksirkskineditor -caption %c %i
Icon=preferences-desktop-locale
X-DocPath=ksirkskineditor/index.html
Terminal=false
Name=KsirK Skin Editor
GenericName=Skin Editor for the World Domination Strategy Game
Categories=Qt;KDE;Game;StrategyGame;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
