# KDE Config File
[Desktop Entry]
Type=Application
Exec=ksirkskineditor -qwindowtitle %c -qwindowicon preferences-desktop-locale
Icon=preferences-desktop-locale
X-DocPath=ksirkskineditor/index.html
Terminal=false
Name=KsirK Skin Editor
Name[ast]=Editor d'aspeutos de KsirK
Name[bs]=Uređivač maski za KSirk
Name[ca]=Editor d'aparences pel Ksirk
Name[ca@valencia]=Editor d'aparences pel Ksirk
Name[cs]=Editor motivů KsirK
Name[da]=KsirK tema-editor
Name[de]=KsirK-Design-Editor
Name[el]=Επεξεργαστής θέματος KsirK
Name[en_GB]=KsirK Skin Editor
Name[es]=Editor de apariencia para KsirK
Name[et]=KsirKi naharedaktor
Name[eu]=KsirK azal editorea
Name[fi]=KsirKin teemamuokkain
Name[fr]=Éditeur de thèmes de KsirK
Name[ga]=Eagarthóir Craicinn KsirK
Name[gl]=Editor de temas visuais para o Ksirk
Name[hne]=केसिर्क स्किन संपादक
Name[hu]=Témaszerkesztő a KsirK-hez
Name[it]=Editor di temi per KsirK
Name[ja]=KsirK スキンエディタ
Name[kk]=KsirK көрінісін өңдеу
Name[km]=កម្មវិធី​និពន្ធ​ស្បែក​របស់ KsirK
Name[ko]=KsirK 스킨 편집기
Name[lv]=KsirK apdaru redaktors
Name[mr]=के-सिर्क स्किन संपादक
Name[nb]=KsirK-temaredigering
Name[nds]=KsirK-Böversieteditor
Name[nl]=KsirK skinbewerker
Name[nn]=KsirK-temaredigering
Name[pl]=Edytor wystrojów KsirK
Name[pt]=Editor de Visuais do KsirK
Name[pt_BR]=Editor de visuais do KsirK
Name[ro]=Editor de fațete KsirK
Name[ru]=Редактор игрового поля KsirK
Name[sk]=Editor tém KSirK
Name[sl]=Urejevalnik preoblek za KsirK
Name[sr]=Уређивач маски за К‑сирк
Name[sr@ijekavian]=Уређивач маски за К‑сирк
Name[sr@ijekavianlatin]=Uređivač maski za KSirk
Name[sr@latin]=Uređivač maski za KSirk
Name[sv]=Ksirk skaleditor
Name[tr]=KsirK Skin Editor
Name[ug]=KsirK ئۆرنەك تەھرىرلىگۈچ
Name[uk]=Редактор оболонок KsirK
Name[x-test]=xxKsirK Skin Editorxx
Name[zh_TW]=KsirK 外觀編輯器
GenericName=Skin Editor for the World Domination Strategy Game
GenericName[ast]=L'editor d'aspeutos pal xuegu d'estratexa de dominación mundial
GenericName[bs]=Uređivač maski za dominacija svijetom strategijsku igru
GenericName[ca]=Editor d'aparences per al joc d'estratègia de dominació mundial
GenericName[ca@valencia]=Editor d'aparences per al joc d'estratègia de dominació mundial
GenericName[cs]=Editor vzhledu pro strategickou hru o světovou dominanci
GenericName[da]=Tema-editor til strategispil om verdensherredømmet
GenericName[de]=Design-Editor für das Welteroberungsspiel
GenericName[el]=Επεξεργαστής θέματος για το παιχνίδι στρατηγικής παγκόσμιας κυριαρχίας
GenericName[en_GB]=Skin Editor for the World Domination Strategy Game
GenericName[es]=Editor de apariencia para el juego de estrategia de dominación mundial
GenericName[et]=Maailma vallutamise strateegiamängu naharedaktor
GenericName[eu]=Mudua menderatzeko estrategia jokoarentzako azalen editorea
GenericName[fi]=Maailmanvalloituspelin teemamuokkain
GenericName[fr]=Éditeur de thèmes pour le jeu de stratégie pour la conquête du monde
GenericName[ga]=Eagarthóir Craicinn do Chluiche Fhorlámhas an Domhain
GenericName[gl]=O editor de temas visuais para o xogo de estratexia e dominación mundial
GenericName[hne]=वर्ल्ड डामिनेसन कौसल वाले खेल बर स्किन संपादक
GenericName[hu]=Témaszerkesztő a Világhódítós stratégiai játékhoz
GenericName[it]=Per modificare l'aspetto del gioco di strategia per la dominazione del mondo
GenericName[ja]=KsirK 世界制覇ゲームのスキンエディタ
GenericName[kk]=Әлем үстемдігі үшін стратегия ойынның көрінісін өңдеу
GenericName[km]=កម្មវិធី​និពន្ធ​ស្បែក​សម្រាប់​ល្បែង​យុទ្ធសាស្ត្រ​គ្រប់គ្រង​ពិភពលោក​​
GenericName[ko]=우주 전략 게임 스킨 편집기
GenericName[lv]=Pasaules pārvaldīšanas stratēģiskās spēles apdaru redaktors
GenericName[mr]=विश्व प्रभुत्व रणनीतिक खेळाकरिता स्किन संपादक
GenericName[nb]=Temaredigering for KsirK
GenericName[nds]=Böversieteditor för't Strategiespeel "World Domination"
GenericName[nl]=Skinbewerker voor het werelddominatie-strategiespel
GenericName[nn]=Temaredigering for KsirK
GenericName[pl]=Edytor wystrojów do gry we władzę nad światem
GenericName[pt]=Editor de Gráficos do Jogo Estratégico de Conquista do Mundo
GenericName[pt_BR]=Editor de visuais para o jogo de estratégias de dominação mundial
GenericName[ru]=Редактор игрового поля для стратегической игры KsirK
GenericName[sk]=Editor skinov pre strategickú hru na ovládnutie sveta
GenericName[sl]=Urejevalnik preoblek za strateško igro osvajanja ozemlja
GenericName[sr]=Уређивач маски за стратешку игру светске превласти
GenericName[sr@ijekavian]=Уређивач маски за стратешку игру свјетске превласти
GenericName[sr@ijekavianlatin]=Uređivač maski za stratešku igru svjetske prevlasti
GenericName[sr@latin]=Uređivač maski za stratešku igru svetske prevlasti
GenericName[sv]=Skaleditor för strategispelet för världsdominans
GenericName[tr]=KsirK için Arayüz Düzenleyici
GenericName[uk]=Редактор оболонок для стратегічної гри у світове панування
GenericName[x-test]=xxSkin Editor for the World Domination Strategy Gamexx
GenericName[zh_TW]=征服世界戰略遊戲的外觀編輯器
Categories=Qt;KDE;Game;StrategyGame;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.ksirkskineditor
